body {
	padding-top: 70px;
}

ul.categories li {
	float: left;
	height: 150px;
	width:  150px;
	border: solid #CCC 1px;
	border-radius : 10px;
	margin: 10px; 
	padding: 10px;
	list-style: none;
	text-align: center;
}

ul.articles li {
	float: left;
	height: 250px;
	width:  250px;
	border: solid #CCC 1px;
	border-radius : 10px;
	margin: 10px; 
	padding: 10px;
	list-style: none;
	text-align: center;
}

.articles .price {
	position: absolute;
	width: 250px;
	height: 25px;
	margin-left: -40px;
	margin-top: -11px;
	background-color: white;
	border : solid #CCC 1px;
	border-radius:  0 10px 0 10px;
	color: #A00;
}

.articleInput {
	border-radius: 6px;
	padding: .5em;
	margin: .2em 0;
}

.articleInput:hover, .articleInputSelected:hover {
	cursor: pointer;
}

.articleInputMarque {
	font-size: .8em;
}

.articleInputPrix {
	font-size: .7em;
}

.articleInputDetails {
	display:inline-block;vertical-align:middle;
}

.articleInputImg {
	display:inline-block;
	margin-right:1em;
	vertical-align:middle;
}

#cartInHeader {
	padding: .3em;
}

.removeFromCart {
	color:red;
}

.removeFromCart:hover {
	cursor: pointer;
}
